:sass
  body
    background: #D9D9C1
    font: 12px/18px verdana, sans-serif

    h1
      color: #493B16
      background: #FFFFB1
      padding: 20px
      border-bottom: 3px solid #C4C494


    h2
      background: #b1d97e
      color: #777
      padding: 10px
      margin-bottom: 0


    ul
      padding: 0
      list-style-type: none
      margin: 0

      li
        background: #ffffe0
        margin: 0
        padding: 5px 10px

        &.odd
          background: #f1f1c1


    .description
      background: #E9E9DF
      padding: 1px 10px
      color: #777

    a
      color: #AC3A15

    #container
      margin: 0 auto
      width: 800px

    .nymph-table
      background: #ffffe0
      padding: 0
      border-spacing: 0
      width: 800px
        
      .status
        :text-align right

      thead th
        padding: 8px 16px
        background: #b1d97e
        text-align: left

      .dependencies, .version
        :text-align center !important

      tr.odd
        padding: 10px
        background: #f1f1c1

      td
        padding: 5px 10px
        
      .loading
        text-decoration: blink
        
      .up-to-date .status
        color: #a1c96e
      
      .needs-update, .needs-update a
        color: #ff713e
        font-weight: bold

      a
        color: #444

      .outdated
        color: red

      th
        &.gem
          width: 500px

        &.dependencies, &.version, &.status
          width: 100px


    p.version
      background: #ffffe0
      margin: 0
      padding: 5px 10px