!!!HTML
%html
  %head
    %meta{ :charset => "utf-8" }/
    %title Nymph
    - javascript_tag do
      = render :partial => "nymph/jquery"
    - javascript_tag do
      = render :partial => "nymph/jfeed"
    :javascript
      jQuery(function($) {
        $.fn.gemRSS = function() {
          return $(this).each(function() {
            var gem_name = $('h1').text();
          
            $.get("/nymph/news/" + gem_name, function($placeholder) {
              return function(data, textStatus) {
                $placeholder.replaceWith(data);
              }
            }($(this)));        
          });
        }
        
        $('#feeds').gemRSS();
      });
    %style{ :type => "text/css" }
      = render :partial => "nymph/css"

  %body
    #container
      = yield